/Users/ittrade/Downloads/Computer Pointer Controller/intel
/Users/ittrade/Downloads/Computer Pointer Controller/src/intel
/Users/ittrade/Downloads/Computer Pointer Controller/src/run_demo.sh
/Users/ittrade/Downloads/Computer Pointer Controller/src/venv
